:root {
  line-height: 1.2;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body * + * {
  /*selects all elements on the page that are not the first child of their parent*/
  margin-top: 1em;
}

/* * {
  border: blueviolet dotted 1px;
} */

.main-container {
}

.planet-map {
  height: 500px;
  width: 100%;
  border: brown 1px dotted;
}

.playerInventory {
  text-align: center;
  font-size: 1.2rem; /*will scale with root font-size*/
  border: 1px dotted springgreen;
  padding: 1em; /*will scale with root/element font-size*/
  margin: 1em 1em 1em 0em; /*will scale with root/element font-size*/
  border-radius: 0.5em;
  overflow: auto; /*scroll bar appears if content overflows */
  width: 40%;
}

/* .timeline-container {
  display: flex;
  flex-direction: column;
} */

ul {
  padding: 0;
}

/* the timeline itself */
.timeline {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  /* padding-top: 1.5em; */
  background: #ebebeb;
}

/* the dots on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  background-color: #fe8d56;
  /* z-index: 1; */
}

/* timeline elements */
.timeline > div {
  visibility: hidden; /*will be set to hidden when elements show up on scrolling*/
  opacity: 0.3;
  position: relative; /*used to offset timeline elements */
  /* bottom: 0; */
  height: 300px;
  width: 300px; /* would like this measurement to reflect width of other elements on pg */
  top: 140px;
  padding: 1.5em;
  background: lightgrey;
  border: #fe8d56 6px solid;
  border-radius: 15em;
  transition: all 1500ms ease-in-out;
}

#in-viewport {
  visibility: visible;
  opacity: 1;
  color: blue;
  scale: 1.5x;
  transform: scale(1.1);
}
/* 


@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

/* The element to apply the animation to */
/*
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
*/
/* spacing for timeline elements */
.timeline > div::before {
  content: "";
  position: absolute;
  bottom: 133px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline-container ul li:nth-child(odd) div::before {
  left: -63px;
  border-width: 15px 30px 15px 30px;
  border-color: transparent #fe8d56 transparent transparent;
}

/* offsets odd timeline elements */
.timeline-container ul li:nth-child(odd) div {
  left: 125px;
  /* top: 150px; */
}

/* offsets odd timeline elements */
.timeline-container ul li:nth-child(even) div {
  /* top: 150px; */
  left: -419px;
}
/* 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
} */

/*..............*/
/* 
.timeline ul li::after {
  background: #fff;
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
} */

/* .timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}
 
@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1)
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
} */
