:root {
  line-height: 1.2;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body * + * {
  /*selects all elements on the page that are not the first child of their parent*/
  margin-top: 1em;
}

/* * {
  border: blueviolet dotted 1px;
} */

.main-container {
}

/* planet image rover map flex container */
.planet-map {
  display: flex;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: brown 1px dotted;
}

/* planet image flex item (the planet image) */
.planet-map > div {
  display: flex;
  height: 600px;
  width: 600px;
  background: coral;
  border-radius: 50%;
  border: brown 1px dotted;
}

/* possible change to a timeline flexbox */
/* .timeline-container {
  display: flex;
  flex-direction: column;
} */

/* remove default ul list padding */
ul {
  padding: 0;
}

/* the timeline itself (made of li elements)*/
.timeline {
  list-style: none;
  position: relative;
  width: 6px;
  height: 300px; /*spacing between each dot on timeline*/
  margin: 0 auto;
  /* padding-top: 1.5em; */
  background: #ebebeb;
}

/* the dots on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  background-color: #fe8d56;
  z-index: 1;
}

/* hides every other dot on the timeline */
.timeline:nth-child(even)::after {
  visibility: hidden;
}

.timeline:nth-child(4n + 3)::after {
  background-color: #e96063;
}

/* triggered when timeline elements enter the viewport */
#in-viewport {
  visibility: visible;
  opacity: 1;
  /* color: blue; */
  transform: scale(1.1);
}

/* triangle pointer/dots created for timeline elements */
.timeline > div::before {
  content: "";
  position: absolute;
  bottom: 133px; /* y positioning of arrows */
  /* height: 0; */
}

/* triangle pointer styling(right side) */
.timeline-container ul li:nth-child(4n + 1) > div::before {
  left: -63px;
  border-width: 15px 30px 15px 30px;
  border-color: transparent #fe8d56 transparent transparent;
  border-style: solid;
}

/* dot styling(left side) */
.timeline-container ul li:nth-child(4n + 2) > div::before {
  content: "..";
  font-size: 50px;
  letter-spacing: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fe8d56;
  left: 330px;
  bottom: 282px;
}

/* triangle pointer styling(left side) */
.timeline-container ul li:nth-child(4n + 3) > div::before {
  left: 292px;
  border-width: 15px 30px 15px 30px;
  border-color: transparent transparent transparent #e96063;
  border-style: solid;
}

/* dot styling(right side) */
.timeline-container ul li:nth-child(4n + 4) > div::before {
  content: "..";
  font-size: 50px;
  letter-spacing: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e96063;
  left: -80px;
  bottom: 282px;
}

/* circle timeline elements (initially hidden) */
ul li:nth-child(odd) > div {
  visibility: hidden;
  opacity: 0;
  position: relative; /*used to offset timeline elements */
  /* bottom: 0; */
  height: 300px;
  width: 300px; /* would like this measurement to reflect width of other elements on pg */
  top: 140px;
  padding: 1.5em;
  border-radius: 15em;
  transition: all 1500ms ease-in-out;
}

/* square timeline elements (initially hidden) */
ul li:nth-child(even) > div {
  visibility: hidden; /*will be set to hidden when elements show up on scrolling*/
  opacity: 0;
  position: relative; /* used to offset timeline elements */
  /* bottom: 0; */
  height: 450px;
  width: 300px; /* would like this measurement to reflect width of other elements on pg */
  bottom: 160px;
  padding: 1.5em;
  border-radius: 0.5em;
  transition: all 1500ms ease-in-out;
}

/* right circle timeline elements */
.timeline-container ul li:nth-child(4n + 1) > div {
  left: 125px;
  color: red;
  visibility: visible;
  border: #fe8d56 6px solid;
  height: 300px;
  width: 300px;
  /* top: 150px; */
}

/* left square timeline elements */
.timeline-container ul li:nth-child(4n + 2) > div {
  color: white;
  background: lightgrey;
  visibility: visible;
  left: -450px;
}

/* left circle timeline elements */
.timeline-container ul li:nth-child(4n + 3) > div {
  color: #fe8d56;
  visibility: visible;
  border: #e96063 solid 6px;
  height: 300px;
  width: 300px;
  left: -419px;
  /* top: 150px; */
}

/* right square timeline elements */
.timeline-container ul li:nth-child(4n + 4) > div {
  color: aqua;
  background: lightgrey;
  visibility: visible;
  left: 156px;
  /* top: 150px; */
}
